* {
    padding-left: 7px;
}

h1 {
    padding-top: 30px;
    font-family: 'Roboto Mono', monospace;
}

#edit-tab, #preview-tab {
    display: inline-block;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}


#preview-tab {
    padding-left: 880px; 
}

.container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}